* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hdr {
  position: relative;
  height: 70px;
  margin: 0;
}

.ftr {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  height: 70px;
  width: 100%;
  margin: 0;
}

.mid-content {
  position: absolute;
  overflow: auto;
  top: 70px;
  bottom: 70px;
  width: 100%;
}

/* .content {
  height: 80vh;
} */

.button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-reg {
  width: 250px;
}

.btn-login {
  width: 310px;
}


.resgister-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.resgister-page h1 {
  display: flex;
  justify-content: center;
}

/* transection page */

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/* transection page */

/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

/* antd icons */